<header>
  <h1>Agregar Producto</h1>
  <hr>
</header>

<form [formGroup]="productForm">
  <div class="row g-3 align-items-center mb-3">
    <div class="col-auto">
      <label class="col-form-label" for="name">Nombre</label>
    </div>
    <div class="col-auto">
      <input
        class="form-control"
        formControlName="name"
        id="name"
        placeholder="Nombre del producto"
        type="text"
      />
    </div>
    <div class="col-auto">
      <span
        [color]="color"
        [errors]="productForm.get('name')?.errors"
        customLabel
      ></span>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <button
        (click)="changeToRandomColor()"
        class="btn btn-primary"
        type="button"
      >
        Cambiar color
      </button>
    </div>
  </div>
</form>

<pre class="mt-5">{{ productForm.get('name')?.errors | json }}</pre>
<p>Color {{color}}</p>
