<header>
  <h1>Agregar Producto</h1>
  <hr>
</header>

<form>
  <div class="row g-3 align-items-center mb-3">
    <div class="col-auto">
      <label class="col-form-label" for="name">Nombre</label>
    </div>
    <div class="col-auto">
      <input class="form-control" id="name" placeholder="Nombre del producto" type="text">
    </div>
    <div class="col-auto">
      <span>Alguna información</span>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <button class="btn btn-primary" type="button">Cambiar color</button>
    </div>
  </div>
</form>
